@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cabin', sans-serif;
}